project:
  # TODO: Change to correct project type if using extensions
  type: website


website:
  title: "TODO: Set the title of the website"
  # TODO: Set the URL of the website
  site-url: ""
  repo-url: "https://github.com/{{ github_repo_spec }}"
  # TODO: Set favicon if relevant.
  # favicon: ""
  navbar:
    # TODO: Add logo and logo-alt
    logo: ""
    logo-alt: ""
    pinned: true
    left:
      - text: "Welcome"
        href: index.qmd
    tools:
      - icon: github
        href: "https://github.com/{{ github_repo_spec }}"
        aria-label: "GitHub icon: Source repository"
  sidebar:
    contents:
      - index.qmd

format:
  # TODO: Use Quarto extension if available
  html:
    theme:
      # TODO: Choose a different theme if desired
      - litera
      - custom-styles.scss
    # TODO: Uncomment if using the goatcounter website visitor counter
    # include-before-body:
      # - "includes/site-counter.html"
