[project]
name = "{{ package_abbrev }}"
version = "0.1.0"
# TODO: Add a description of the package.
description = ""
authors = [
  {name = "{{ author_given_name }} {{ author_family_name }}", email = "{{ author_email }}" },
  # TODO: Add more authors as needed.
]
maintainers = [
  {name = "{{ author_given_name }} {{ author_family_name }}", email = "{{ author_email }}" },
  # TODO: Add more maintainers as needed.
]
readme = "README.md"
{% if cc0_license %}
license = "MIT AND CC0-1.0"
license-files = ["LICENSE-MIT.md", "LICENSE.md"]
{% else %}
license = "MIT"
license-files = ["LICENSE-MIT.md"]
{% endif %}
requires-python = ">=3.12"
{% if package_github_repo %}
[project.urls]
issues = "https://github.com/{{ package_github_repo }}/issues"
repository = "https://github.com/{{ package_github_repo }}"
{% endif %}
