[project]
name = "{{ github_repo }}"
version = "0.1.0"
# TODO: Add a description of the package.
description = ""
authors = [
  # TODO: Add author details.
  {name = "FIRST LAST", email = "" },
  # TODO: Add more authors as needed.
]
maintainers = [
  # TODO: Add maintainer details.
  {name = "FIRST LAST", email = "" },
  # TODO: Add more maintainers as needed.
]
readme = "README.md"
{% if cc0_license %}
license = "MIT AND CC0-1.0"
license-files = ["LICENSE-MIT.md", "LICENSE.md"]
{% else %}
license = "MIT"
license-files = ["LICENSE-MIT.md"]
{% endif %}
requires-python = ">=3.12"

[project.urls]
# TODO: Add URLs relevant to the project.
homepage = ""
repository = "https://github.com/{{ github_repo_spec }}"
issues = "https://github.com/{{ github_repo_spec }}/issues"
changelog = "https://github.com/{{ github_repo_spec }}/blob/main/CHANGELOG.md"

[tool.ruff]
extend = ".config/ruff.toml"

[tool.mypy]
python_version = 3.12
strict = True
