# {{ github_repo }}

<!-- TODO: Add a short description of the package and how to contribute. -->

## Licensing

Code in this project is licensed under the [MIT License](LICENSE-MIT.md).
{% if cc0_license -%}
Data in this project is licensed under the [CC0 License](LICENSE.md).
{%- endif %}

## Changelog

For a list of changes, see our [changelog](CHANGELOG.md) page.
